@page "/Credentials"
@using System.Threading
@using FitTech.WebComponents.Persistence
@layout EmptyLayout
@attribute [AllowAnonymous]
@inject NavigationManager NavigationManager

@inject IStorage Storage

<div class="flex flex-col grow bg-fittech-white items-start justify-items-start gap-2 mx-10">
    <div class="pt-[env(safe-area-inset-top)]"></div>
    <h1 class="text-3xl text-fittech-dark font-bold mb-2">¡Bienvenido a FitTech!</h1>
    <p class="text-sm text-fittech-dark font-semibold">Antes de nada decesitamos conocerte un poco más para que tu
        entrenador pueda planear tus sesiones al dedillo.</p>
    <p class="text-sm text-fittech-dark font-semibold">Lo primero es lo primero, establezcamos tus credenciales.</p>
    <br/>
    <h1 class="text-2xl text-fittech-dark font-bold mb-2">Credenciales</h1>
    <EditForm Model="_credentialsForm" OnValidSubmit="SubmitAsync"
              class="bg-fittech-white flex flex-col w-full gap-6 items-center">
        <DataAnnotationsValidator/>
        <div class="flex flex-col w-full">
            <FitTechInput Type="FitTechInput.TextInputType.Password" @bind-Value="_credentialsForm!.Password" Placeholder="Contraseña" Label="Contraseña"/>
            <ValidationMessage For="@(() => _credentialsForm!.Password)" class="text-red-600 text-sm"/>
        </div>
        <div class="flex flex-col w-full">
            <FitTechInput Type="FitTechInput.TextInputType.Password" @bind-Value="_credentialsForm!.RepeatPassword" Placeholder="Repetir contraseña"
                          Label="Repetir contraseña"/>
            <ValidationMessage For="@(() => _credentialsForm!.RepeatPassword)" class="text-red-600 text-sm"/>
        </div>

        <div class="flex flex-col items-end w-full">
            <FitTechButton Type="ButtonType.Submit" Class="w-[150px] mt-5" Label="Continuar"
                           Icon="@HeroiconName.ArrowRight"></FitTechButton>
        </div>
    </EditForm>
</div>

@code
{
    private CredentialsForm? _credentialsForm;
    private const string StorageKey = nameof(CredentialsForm);

    protected override async Task OnInitializedAsync()
    {
        if (await Storage.ContainsKeyAsync(StorageKey, CancellationToken.None))
        {
            _credentialsForm = (await Storage.GetItemAsync<CredentialsForm>(StorageKey, CancellationToken.None))!;
        }

        _credentialsForm ??= new();
    }

    public async Task SubmitAsync()
    {
        await Storage.SetItemAsync(StorageKey,_credentialsForm, CancellationToken.None);
        NavigationManager.NavigateTo("/PersonalInformation");
    }

    private class CredentialsForm : IValidatableObject
    {
        [Required(ErrorMessage = "Introduce la contraseña")]
        public string Password { get; set; } = null!;

        [Required(ErrorMessage = "Introduce la contraseña")]
        public string RepeatPassword { get; set; } = null!;

        public IEnumerable<ValidationResult> Validate(ValidationContext validationContext)
        {
            if (Password != RepeatPassword)
            {
                yield return new ValidationResult(
                    "Las contraseñas no coinciden",
                    [nameof(RepeatPassword)]
                );
            }
        }
    }
}
