@page "/usermanager"
@inject AppHeaderStateHandler AppHeaderStateHandler
@inject NavigationManager NavigationManager

@page "/gestion-clientes"
@using Blazor.Heroicons
@using FitTech.WebComponents.Components.AppHeader
@using FitTech.WebComponents.Components.Tables

<h1>En construcción</h1>

@code {
    
    
    protected override void OnInitialized()
    {
        AppHeaderStateHandler.Clear();
        AppHeaderStateHandler.AddButton(HeroiconName.Plus, () =>
        {
            NavigationManager.NavigateTo("/usermanager/add");
            return Task.CompletedTask;
        }, "Añadir usuario");

        base.OnInitialized();
    }

}
