@page "/counter"
@using FitTech.WebComponents
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<button class="bg-green-900" @onclick="IncrementCount">Button B</button>
<Component1/>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}