@page "/"
@using FitTech.WebComponents.Pages.Login

<PageTitle>Home</PageTitle>


<h2>Claims</h2>
<AuthorizeView>
    <ul>
        @foreach (var claim in context.User.Claims)
        {
            <li><b>@claim.Type</b>: @claim.Value</li>
        }
    </ul>
</AuthorizeView>

<AuthorizeView Roles="Trainer">
    <Authorized>
        <p class="text-red-700"> I'm a trainer!!!</p>
    </Authorized>
</AuthorizeView>