@page "/settings"
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager

<div class="flex flex-col">
    <!-- Content container -->
    <div class="flex-grow flex flex-col justify-between p-4 max-w-sm w-full mx-auto">
        <h2 class="text-center text-xl font-bold border-b border-gray-800 pb-2 mb-4">Ajustes</h2>

        <div class="text-gray-900 space-y-4 text-sm">
            <div>
                <span class="font-semibold">Nombre</span>
                <p class="text-gray-600">Admin FitTech</p>
            </div>
            <div>
                <span class="font-semibold">Email</span>
                <p class="text-gray-600">admin@fittech.es</p>
            </div>
            <div>
                <span class="font-semibold">Entrenador</span>
                <p class="text-gray-600">Admin Trainer</p>
            </div>
        </div>
    </div>

    <div class="space-y-4 pt-6 m-6">
        <button
            @onclick="Logout"
            class="select-none w-full py-2 rounded-md border border-red-500 text-red-500 font-semibold active:scale-95 transition-transform">
            Cerrar Sesión
        </button>

        <button
            class="select-none w-full py-2 rounded-md border border-red-500 bg-red-500 bg-opacity-30 text-red-200 font-semibold active:bg-red-600 active:text-white active:scale-95 transition-transform">
            Eliminar cuenta
        </button>

    </div>
</div>

@code {
    public void Logout()
    {
        NavigationManager.NavigateTo("/logout");
    }
}