@using FitTech.WebComponents.Components.SideMenu
@inherits LayoutComponentBase

<body class="bg-white dark:bg-gray-900 flex items-center justify-center min-h-screen transition-colors duration-300">
<FitTechSideMenu />
@Body
</body>