@page "/login"
@using FitTech.WebComponents.Components.Alerts
@using FitTech.WebComponents.Services
@layout EmptyLayout
@attribute [AllowAnonymous]
@inject IUserService UserService
@inject NavigationManager NavigationManager

<div class="flex flex-col grow bg-fittech-white items-center gap-2">
    <div class="pt-[env(safe-area-inset-top)]"></div>
    <img class="rotate-270 h-auto w-[250px]" src="_content/FitTech.WebComponents/images/logo.png"/>
    <EditForm class="px-8 flex flex-col w-full gap-6 items-center" Model="_loginForm" OnValidSubmit="SubmitAsync">
        <div class="flex flex-col w-full gap-6">
            <FitTechAlert @bind-Show="_showAlert" Message="@ErrorMessage"/>
            <DataAnnotationsValidator/>
            <div class="flex flex-col w-full">
                <FitTechInput @bind-Value="_loginForm.Email" Placeholder="Email" Label="Email"></FitTechInput>
                <ValidationMessage For="@(() => _loginForm!.Email)" class="text-red-600 text-sm"/>
            </div>
            <div class="flex flex-col w-full">
                <FitTechInput @bind-Value="_loginForm.Password" Placeholder="Password" Label="Password"></FitTechInput>
                <ValidationMessage For="@(() => _loginForm!.Password)" class="text-red-600 text-sm"/>
            </div>

        </div>
        <FitTechButton Type="ButtonType.Submit" Class="w-[300px] mt-10" Label="Login"
                       Icon="@HeroiconName.ArrowRightEndOnRectangle"></FitTechButton>
    </EditForm>
    <a class="font-semibold text-blue-400 text-sm">¿Has olvidado tu contraseña? Haz click aquí</a>
    <div class="flex flex-col-reverse grow pb-3">
        <a href="/ValidationCode" class="font-bold text-sm text-fittech-dark underline">¿Has recibido una invitación?
            Haz click aquí</a>
    </div>
</div>

@code
{
    private readonly LoginForm _loginForm = new();
    private bool _showAlert;
    private const string ErrorMessage = "Usuario o contraseña incorrectos";

    public async Task SubmitAsync()
    {
        var result = await UserService.LoginAsync(_loginForm.Email, _loginForm.Password, CancellationToken.None);

        if (!result.Succeeded)
        {
            _showAlert = true;
            return;
        }

        NavigationManager.NavigateTo("/", new NavigationOptions
         {
             ForceLoad = true
         });
    }


    private class LoginForm
    {
        [Required(ErrorMessage = "Introduce tu email")]
        public string Email { get; set; } = null!;

        [Required(ErrorMessage = "Introduce la contraseña")]
        public string Password { get; set; } = null!;
    }
}
