@page "/"
@using FitTech.Api.Client.Generated
@inject FitTechAPIClient ApiClient;
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    protected override async Task OnInitializedAsync()
    {
        var response = await ApiClient.GetCurrentUserEndpointAsync();
    }
}