@page "/resetpassword"
@layout EmptyLayout
@inherits FitTech.WebComponents.Components.CancellableComponent
@inject IUserService UserService
@inject NavigationManager Navigation

<div class="relative min-h-screen w-full">
    <!-- Franja superior naranja -->
    <div class="absolute top-0 left-0 w-full h-1/2 bg-gradient-to-b from-green-400 to-green-700 z-0 flex items-center justify-center">
        <h1 class="text-white text-4xl font-black uppercase tracking-widest">REESTABLECER CONTRASEÑA</h1>

        <!-- Puzzle decorativo arriba derecha -->
        <div class="absolute top-6 right-6 space-y-2">
            <div class="w-16 h-1 rotate-45 bg-white"></div>
            <div class="w-16 h-1 rotate-45 bg-cyan-300"></div>
            <div class="w-10 h-1 rotate-45 bg-white"></div>
        </div>
    </div>

    <!-- Fondo blanco en la mitad inferior -->
    <div class="absolute bottom-0 left-0 w-full h-1/2 bg-white z-0"></div>

    <!-- Formulario centrado sobre la división -->
    <div class="relative z-10 flex items-center justify-center min-h-screen px-4">
        <div class="w-full max-w-md bg-white p-8 rounded-lg">
            <EditForm Model="ResetPasswordModel" OnValidSubmit="Submit" FormName="ResetPasswordForm">

                <DataAnnotationsValidator/>

                <div class="mb-4">
                    <InputText type="text" @bind-Value="ResetPasswordModel!.NewPassword" id="email" placeholder="Nueva Contraseña"
                               class="w-full px-4 py-2 bg-gray-100 text-sm text-black focus:outline-none focus:ring-green-700 rounded-lg"/>
                    <ValidationMessage For="@(() => ResetPasswordModel!.NewPassword)" class="text-red-600 text-sm"/>
                </div>
                <div class="mb-4">
                    <InputText type="text" @bind-Value="ResetPasswordModel!.ConfirmNewPassword" id="email" placeholder="Repita Nueva Contraseña"
                               class="w-full px-4 py-2 bg-gray-100 text-sm text-black focus:outline-none focus:ring-green-700 rounded-lg"/>
                    <ValidationMessage For="@(() => ResetPasswordModel!.ConfirmNewPassword)" class="text-red-600 text-sm"/>
                </div>

                <button type="submit"
                        class="w-full bg-gray-400 hover:bg-green-700 focus:ring-green-700 rounded-lg text-white font-bold uppercase py-2 transition duration-200">Restablecer
                    Contraseña
                </button>
                @if (!string.IsNullOrEmpty(_message))
                {
                    <p class="mt-3" style="color: @(_message.Contains("Error") ? "red" : "green")">
                        @(_message)
                    </p>
                }

            </EditForm>
        </div>
    </div>
</div>



@code {

    [SupplyParameterFromForm] private ResetPasswordModel? ResetPasswordModel { get; set; }
    [SupplyParameterFromQuery] private string? Email { get; set; }
    [SupplyParameterFromQuery] private string? Token { get; set; }

    private string _message = string.Empty;

    protected override void OnInitialized()
    {
        ResetPasswordModel ??= new ResetPasswordModel();
    }

    private async Task Submit()
    {
        var response = await UserService.ResetPasswordAsync(Email!, Token!, ResetPasswordModel!.NewPassword, _cts.Token);

        if (!response!.Succeeded)
        {
            _message = "No se ha podido restablecer la contraseña. Intentalo de  nuevo.";
            return;
        }

        _message = "La contraseña se ha restablecido. Será reedirigido al login";
        StateHasChanged();
        await Task.Delay(3000);
        Navigation.NavigateTo("/login");
    }

}