<button @onclick="OnClick"
        class="px-4 py-2 rounded-xl bg-fittech-green border-2 border-b-fittech-gray text-fittech-dark font-semibold flex items-center gap-2 hover:scale-105 transition">
    @Label
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
         stroke-width="2" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
    </svg>
</button>

@code {
    [Parameter] public string Label { get; set; } = "Button";
    [Parameter] public EventCallback OnClick { get; set; }
}