@page "/configurationpage"
@inject AppHeaderStateHandler AppHeaderStateHandler
@inject IUserService _userService;
@using System.Drawing
@using Blazor.Heroicons
@using FitTech.ApiClient
@using FitTech.ApiClient.Generated
@using FitTech.WebComponents.Components.AppHeader
@using FitTech.WebComponents.Components.Buttons
@using FitTech.WebComponents.Services
@inherits FitTech.WebComponents.Components.CancellableComponent
@using FitTech.WebComponents.Styles.Enums
@using Color = FitTech.WebComponents.Styles.Enums.Color
@using Size = FitTech.WebComponents.Styles.Enums.Size

@layout ConfigurationLayout

<div class="flex flex-col gap-4">

    <h1 class="text-4xl font-bold text-gray-800">Invitaciones enviadas</h1>
    <p class="text-gray-400 mb-2">
        Las invitaciones Rechazadas o Aceptadas dejarán de mostrarse pasados 15 días
    </p>

    <div class="w-full max-w-3xl bg-white rounded-xl border-2 border-lime-300 mx-auto shadow-sm">

        @if (items is not null && items.Any())
        {
            @foreach (var item in items)
            {
                <div class="relative flex items-center p-4 border-b border-lime-200">
                    
                    <span class="text-lg text-gray-700 font-semibold">
                        @item.ClientEmail
                    </span>
                    
                    <div class="absolute left-1/2 -translate-x-1/2 flex justify-center">
                        @if (item.Status == "Pending")
                        {
                            <span class="px-3 py-1 rounded-full border border-yellow-700 text-yellow-700 bg-white text-sm font-semibold">
                                Pendiente
                            </span>
                        }
                        else if (item.Status == "Expired")
                        {
                            <span class="px-3 py-1 rounded-full border border-b-red-500 text-amber-800 bg-white text-sm font-semibold">
                                No Respondido
                            </span>
                        }
                        else if(item.Status =="InProgress")
                        {
                            <span class="px-3 py-1 rounded-full border border-b-purple-800 text-pink-950 bg-white text-sm font-semibold">
                                En Proceso
                            </span>
                        }
                        else if (item.Status == "Aceptado")
                        {
                            <span class="px-3 py-1 rounded-full border border-b-green-700 text-green-700 bg-white text-sm font-semibold">
                                Aceptada
                            </span>
                        }
                    </div>
                    
                    <div class="ml-auto">
                        @if (item.Status == "Pending")
                        {
                            <FitTechButton Color="Color.Secondary" Size="Size.Medium" Label="Cancelar" Icon="@HeroiconName.Check"/>
                        }
                        else if (item.Status == "Expired")
                        {
                            <FitTechButton Color="Color.Tertiary" Size="Size.Medium" Label="Reenviar" Icon="@HeroiconName.Check"/>
                        }
                        else if(item.Status =="InProgress")
                        {
                            <FitTechButton Color="Color.Error" Size="Size.Medium" Label="Cancelar" Icon="@HeroiconName.Check"/>
                        }
                    </div>

                </div>
            }
        }
        else
        {
            <div class="p-4 text-gray-500 text-center">
                No hay invitaciones en proceso, pendientes o expiradas.
            </div>
        }

    </div>
</div>


@code {
    private List<InvitationDto>? items;
    
    protected override async Task OnInitializedAsync()
    {
        AppHeaderStateHandler.Clear();
        base.OnInitialized();
        await GetInvitationAsync(CancellationToken.None);
    }

    protected async Task GetInvitationAsync(CancellationToken cancellationToken)
    {
        var response = await _userService.GetInvitationsTrainer(cancellationToken);
        items = response.Value?.Invitations?.ToList() ?? new List<InvitationDto>();
        
    }
    
}
