@page "/configurationpage"
@inject AppHeaderStateHandler AppHeaderStateHandler
@inject IUserService _userService;
@using FitTech.ApiClient
@using FitTech.ApiClient.Generated
@using FitTech.WebComponents.Components.AppHeader
@using FitTech.WebComponents.Services
@inherits FitTech.WebComponents.Components.CancellableComponent

@layout ConfigurationLayout

<div class="flex flex-col gap-4">

    <h1 class="text-4xl font-bold text-gray-800">Invitaciones enviadas</h1>
    <p class="text-gray-400 mb-2">
        Las invitaciones Rechazadas o Aceptadas dejarán de mostrarse pasados 15 días
    </p>

    <div class="w-full max-w-3xl bg-white rounded-xl border-2 border-lime-300 mx-auto shadow-sm">

        @if (items is not null && items.Any())
        {
            @foreach (var item in items)
            {
                <div class="flex items-center justify-between p-4 border-b border-lime-200">
                    
                    <!-- EMAIL -->
                    <span class="text-lg text-gray-700 font-semibold">@item.ClientEmail</span>

                    <div class="flex items-center gap-4">

                        <!-- ESTADO -->
                        @if (item.Status == "Pending")
                        {
                            <span class="px-3 py-1 rounded-full border border-yellow-700 text-yellow-700 bg-yellow-100 text-sm font-semibold">
                                Pendiente
                            </span>

                            <button class="px-4 py-2 bg-red-400 hover:bg-red-500 text-white rounded-full font-semibold shadow">
                                Cancelar
                            </button>
                        }
                        else if (item.Status == "Expired")
                        {
                            <span class="px-3 py-1 rounded-full border border-blue-700 text-blue-700 bg-blue-100 text-sm font-semibold">
                                No Respondido
                            </span>

                            <button class="px-4 py-2 bg-lime-400 hover:bg-lime-500 text-white rounded-full font-semibold shadow">
                                Reenviar
                            </button>
                        }
                        else if(item.Status =="InProgress")
                        {
                            <span class="px-3 py-1 rounded-full border border-b-green-700-700 text-green-700 bg-green-100 text-sm font-semibold">
                                En Proceso
                            </span>

                            <button class="px-4 py-2 bg-blue-600 hover:bg-blue-800 text-white rounded-full font-semibold shadow">
                                Cancelar
                            </button>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div class="p-4 text-gray-500 text-center">
                No hay invitaciones en proceso, pendientes o expiradas.
            </div>
        }

    </div>
</div>


@code {
    private List<InvitationDto>? items;

    protected override async Task OnInitializedAsync()
    {
        AppHeaderStateHandler.Clear();
        await GetInvitations(CancellationToken.None);
    }

    public async Task GetInvitations(CancellationToken cancellationToken)
    {
        var response = await _userService.GetInvitationsTrainer(cancellationToken);

        // Asegúrate de que response.Data sea la lista de invitaciones
        items = response.Value?.Invitations?.ToList() ?? new List<InvitationDto>();

        foreach (var item in items)
        {
            Console.WriteLine("Datos", item.ClientEmail, item.Status, item.CreatedUtc);
        }

    }
}
