@page "/SearchBar"

@inject NavigationManager NavigationManager

<div class="fixed top-0 left-64 right-0 z-50 flex items-center justify-end bg-gray-100 text-black rounded-b-lg px-4 py-5 border-b border-gray-700  shadow">    @if (CurrentPath.Contains("CustomerManager"))
    {
        <div class="ml-2 text-gray-400 hover:text-green-600"  @onclick="GoToAddUser">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
        </div>
    }
    else if (CurrentPath.Contains("home"))
    {
        <button class="ml-2 text-gray-400 hover:text-green-600">
            <!-- Icono de casa -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M3 12l9-9 9 9M4 10v10a1 1 0 001 1h6m8-11v10a1 1 0 01-1 1h-6" />
            </svg>
        </button>
    }
</div>

@code {
    
    private string CurrentPath => NavigationManager.Uri.Replace(NavigationManager.BaseUri, "");
    
    private void GoToAddUser()
    {
        NavigationManager.NavigateTo("/AddNewClient");
    }
    
}