@inherits LayoutComponentBase
@using FitTech.WebComponents.Components.SideMenu


<div class="flex h-screen">
    <!-- Para quitar la barra de buscar del layaut estatico, tenemos que quitar este componente y declarar solamente <Menubar>-->
    <FitTechSideMenu/>
</div>
