@using Blazor.Heroicons
@using FitTech.WebComponents.Components.AppHeader
@using FitTech.WebComponents.Components.SideMenu
@using FitTech.WebComponents.Components.Snackbar
@inherits LayoutComponentBase
@inject AppHeaderStateHandler Handler

<body class="bg-white dark:bg-gray-900 flex flex-col max-h-screen min-h-screen transition-colors duration-300">
<AppHeader/>
<div class="flex flex-row grow">
    <SlideMenuComponent MenuItems="@_menuItems"/>
    <div class="flex flex-col grow">
        @Body
    </div>
</div>
<FitTechSnackbarDisplay />
</body>


@code{

    private readonly List<SlideMenuComponent.MenuItem> _menuItems = new()
    {
        new SlideMenuComponent.MenuItem("Inputs", SubMenu:
        [
            new SlideMenuComponent.SubMenuItem("Buttons", "/inputs/button"),
            new SlideMenuComponent.SubMenuItem("Text", "/inputs/text")
        ]),
        new SlideMenuComponent.MenuItem("Components", SubMenu:
        [
            new SlideMenuComponent.SubMenuItem("Menu", "/components/menu"),
            new SlideMenuComponent.SubMenuItem("Snackbar", "/components/snackbar")
        ])
    };

    protected override void OnInitialized()
    {
        Handler.Clear();
        Handler.AddButton(HeroiconName.Plus, EventCallback.Factory.Create<MouseEventArgs>(this, () => { }));

        base.OnInitialized();
    }

}