@using System.Linq.Expressions
@using FitTech.WebComponents.Components.Inputs.Models
@typeparam TValue
<div class="flex flex-col grow">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <h1 class="text-xs mb-1 font-semibold">@Label</h1>
    }
    <InputSelect TValue="TValue" Value="Value" ValueChanged="ValueChanged"
                 ValueExpression="ValueExpression" class="@DefaultCssClass" @attributes="AdditionalAttributes">
        
        <option value="">
            @EmptyOption
        </option>
        
        @foreach (var option in Options)
        {
            <option value="@option.Value">
                @option.DisplayValue
            </option>
        }
    </InputSelect>
</div>

@code {
    private const string DefaultCssClass = "border border-fittech-green rounded px-2 py-1 text-xs";
    private string EmptyOption => typeof(TValue).IsArray ? "Selecciona 1 o varias opciones..." : "Selecciona una opción...";
    [Parameter] public string? Label { get; set; }
    [Parameter] public TValue? Value { get; set; }
    [Parameter] public EventCallback<TValue> ValueChanged { get; set; }
    [Parameter] public Expression<Func<TValue?>>? ValueExpression { get; set; }
    [Parameter] public FitTechSelectOption<TValue>[] Options { get; set; } = null!;
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, object>();
    
}