@page "/configurationpage"
@using Blazor.Heroicons
@using FitTech.WebComponents.Components.AppHeader
@inject AppHeaderStateHandler AppHeaderStateHandler
@inject NavigationManager NavigationManager

@page "/configuracion"

<div class="min-h-screen text-blue-400 flex items-center justify-center">
    <div class="grid grid-cols-2 gap-12">
        <div class="rounded-3xl border-2 border-blue-400 px-10 py-12 text-center text-xl font-semibold">
            <a href="/ConfigurationUserPage">Información personal</a>
        </div>
        <div class="rounded-3xl border-2 border-blue-400 px-10 py-12 text-center text-xl font-semibold">
            Apariencia
        </div>
        <div class="rounded-3xl border-2 border-blue-400 px-10 py-12 text-center text-xl font-semibold">
            Ajustes de cuenta
        </div>
        <div class="rounded-3xl border-2 border-blue-400 px-10 py-12 text-center text-xl font-semibold">
            Coming soon
        </div>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        AppHeaderStateHandler.Clear();

        base.OnInitialized();
    }

}