@page "/"
@using FitTech.WebComponents.Components.AppHeader
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject AppHeaderStateHandler AppHeaderStateHandler

<div class="flex flex-col grow items-center">
    <div class="flex flex-row grow items-center">
        <PageTitle>Home</PageTitle>

        <h1>Hello, world!</h1>

        Welcome to your new app.
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        AppHeaderStateHandler.Clear();
        base.OnInitialized();
    }

    public Task DoSomething()
    {
        Console.WriteLine("Button clicked");

        return Task.CompletedTask;
    }

}
