@page "/"
@attribute [Authorize]
@using Blazor.Heroicons
@using FitTech.WebComponents.Components.AppHeader
@using Microsoft.AspNetCore.Authorization
@inject AppHeaderStateHandler AppHeaderStateHandler
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    protected override void OnInitialized()
    {
        AppHeaderStateHandler.Clear();
        AppHeaderStateHandler.AddButton(HeroiconName.Plus, DoSomething, "Añadir usuario");
        AppHeaderStateHandler.AddButton(HeroiconName.ArchiveBox, DoSomething, "Archivar usuario");

        base.OnInitialized();
    }

    public Task DoSomething()
    {
        Console.WriteLine("Button clicked");

        return Task.CompletedTask;
    }
    
}
