@page "/login"

<div class="flex h-full w-md flex-col items-center rounded-md bg-white p-4 shadow-lg gap-4 md:h-64">
    <h1 class="">Login</h1>
    <div class="flex w-full flex-col bg-amber-400">
        <p class="text-sm">Email</p>
        <input type="text" class="" placeholder="Escribe tu email" />
    </div>
</div>
