@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components

@if (imagePreview != null)
{
    <div class="my-4 flex justify-center items-center">
        <img src="@imagePreview" alt="Avatar Preview" class="w-24 h-24 rounded-full object-cover" />
    </div>
}
else
{
    <div class="my-4 flex justify-center items-center">
        <img src="https://previews.123rf.com/images/fayethequeen/fayethequeen2209/fayethequeen220900007/191787954-avatar-de-mujer-de-negocios-con-signo-de-interrogaci%C3%B3n-aislado-en-fondo-blanco-silueta-de-avatar-de.jpg" alt="No Avatar" class="w-24 h-24 rounded-full object-cover" />
    </div>
}

<div class="flex items-center justify-center block p-2 rounded-lg bg-gradient-to-r from-[#ADC539] to-[#A5D153] dark:bg-gradient-to-r dark:from-[#ADC539] dark:to-[#A5D153] transition-colors duration-300">
    <InputFile OnChange="HandleFileSelected" class="cursor-pointer hidden" id="avatar-upload" />
    <label for="avatar-upload" class="cursor-pointer text-center">Seleccionar Avatar</label>
</div>

@code {

    public string? imagePreview;
    private IBrowserFile? avatarFile;
    [Parameter] public EventCallback<string?> OnImageSelected { get; set; }
    [CascadingParameter] public MenuBar? MenuBarComponent { get; set; }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            // Previsualizar la imagen cargada
            var buffer = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(buffer);
            imagePreview = $"data:image/png;base64,{Convert.ToBase64String(buffer)}";
            avatarFile = file;
            MenuBarComponent?.ActualizarAvatar(imagePreview);
        }

       
    }

    private void GuardarAvatar()
    {
        // Notificar al componente padre con el nuevo valor de imagePreview
        OnImageSelected.InvokeAsync(imagePreview);

        // Forzar la actualización de la UI
        StateHasChanged(); // Esto fuerza una nueva renderización del componente
    }

}

