@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components
@using FitTech.WebComponents.Pages.Login

<button class="flex items-center justify-center rounded-lg bg-green-700 px-4 py-2 text-white" @onclick="Login">
    @if (isLoggingIn)
    {
        <svg class="mr-3 h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
    }
    <span class="font-medium">
        @buttonText
    </span>
</button>
@code {
    string buttonText = "Iniciar Sesion";
    bool isLoggingIn = false;

    // Método que simula el login
    private async Task Login()
    {
        // Cambiar el estado a 'true' para mostrar el spinner
        isLoggingIn = true;
        buttonText = "Cargando...";

        // Simula una llamada asíncrona (por ejemplo, a una API de login)
        await Task.Delay(2000); // Aquí se simula que el login toma 2 segundos

        // Después de completar la función, vuelve a cambiar el estado
        isLoggingIn = false;
        buttonText = "Iniciar Sesion";
    }
}
