<div class="fixed w-auto h-auto bottom-0 right-0 m-4">
    @foreach (var snackbar in SnackbarService.ShownSnackbars)
    {
        <FitTechSnackbarElement Snackbar="snackbar"></FitTechSnackbarElement>
    }
</div>