@inject AppHeaderStateHandler Handler;
@implements IDisposable
<div class="fixed top-0 w-full h-20 flex items-center justify-between bg-fittech-white text-fittech-dark border-b-fittech-green px-4 py-5 ">
    <div class="flex-1"></div> <!-- spacer to push buttons to the right -->
    <div class="flex items-center space-x-2 ">
        @foreach (var button in Handler.HeaderButtons)
        {
            @button
        }
    </div>
</div>


@code {

    protected override void OnInitialized()
    {
        Handler.OnChange += StateHasChanged;

        base.OnInitialized();
    }

    public void Dispose()
    {
        Handler.OnChange -= StateHasChanged;
        Handler.Clear();
    }

}